In [ ]:
import numpy as np
import pandas as pd

### Q1. Pandas version

In [3]:
pd.__version__

'2.3.1'

### Getting the data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

### Q2. Records count

In [5]:
df.index.size

9704

### Q3. Fuel 

How many fuel types are presented in the dataset?

In [6]:
df['fuel_type'].describe()

count         9704
unique           2
top       Gasoline
freq          4898
Name: fuel_type, dtype: object

In [7]:
len(df['fuel_type'].unique())

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [8]:
df1 = df.isnull().sum().to_frame()
df1.columns = ['cnt']

In [9]:
df1.loc[df1['cnt'] > 0].index.size

4

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [10]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2)

np.float64(23.76)

### Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.

In [11]:
df['horsepower'].median()

np.float64(149.0)

2. Next, calculate the most frequent value of the same horsepower column.

In [46]:
most_frequest_horsepower = df.groupby(['horsepower'])['horsepower'].count().sort_values(ascending=False).head(1).index[0]

In [47]:
most_frequest_horsepower

np.float64(152.0)

3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

In [48]:
df['horsepower'] = df['horsepower'].fillna(152.0)

In [49]:
df['horsepower'].median()

np.float64(152.0)

median value increased from 149.0 to 152.0

### Q7. Sum of weights

1. Select all the cars from Asia

In [60]:
df_asia = df[df['origin'] == 'Asia']

2. Select only columns vehicle_weight and model_year

In [61]:
df_asia = df_asia[['vehicle_weight', 'model_year']]

3. Select the first 7 values

In [62]:
df_asia = df_asia.head(7)

In [63]:
df_asia

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

4. Get the underlying NumPy array. Let's call it X.

In [64]:
X = df_asia.to_numpy()

In [65]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [67]:
XTX = X.T.dot(X)

6. Invert XTX

In [73]:
inv = np.linalg.inv(XTX)

7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [74]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [75]:
w = np.dot(inv, X.T).dot(y)

In [ ]:
w

array([0.01386421, 0.5049067 ])

8 What's the sum of all the elements of the result?

In [77]:
w.sum()

np.float64(0.5187709081074016)